p {
  margin: 0;
}

.hero {
  margin: 0 auto;
  max-width: 600px;
}

.hero__heading {
  margin-bottom: 2rem;
  text-align: center;
}

.hero__form {
  display: flex;
  justify-content: center;
}

.todos {
  list-style: none;
  padding: 0;
}

.todos__item {
  align-items: center;
  display: flex;
  margin-bottom: 12px;
  padding: .25rem 1rem;
}

.todos__item-form:first-of-type {
  margin-left: auto;
}

.todos__item-form:last-of-type {
  margin-left: 4px;
}